@charset "utf-8";
/* CSS Document */


body{
	margin: 0px;
	background-image: url(""../../../../Downloads/plufow-le-studio-TYUUe_90fXU-unsplash.jpg"");
	background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

	
}
.topnav{
	overflow: hidden;
	background-color: #A2AADB;
}
.topnav a {
  float:right;
  display:inline-block;
  color:#212856;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}
li{
	display: inline;
}
h1{
	text-align: center;
	background-color: #A2AADB;
	padding: 30px;
	font-size: 50px;
	
}